@charset "utf-8";
.mw {
  max-width: 1400px;
  width: calc(100% - 2rem);
  margin: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@font-face {
  font-family: "SunBatang-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "SunBatang-Light";
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  --main-c1: #522b1c;
  --main-c2: #e84a36;
  --font-c1: #1b1b1b;
  --font-c2: #4c4c4c;
  --font-c3: #ffffff;
  --bg: #f7efec;
}
body {
  background-color: var(--bg);
}
/* floating start */
.floating {
  position: fixed;
  z-index: 999;
  top: 180px;
  width: 50px;
  right: 5%;
}
.floating > div {
  /* border: 1px solid blue; */
  margin-bottom: 2px;
}
.floating img {
  width: 100%;
  background-color: var(--main-c1);
  padding: 0.5rem;
}
/* floating end */

/* header start */
.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-color: white;
  border-top: 10px solid var(--main-c1);
  z-index: 999;
}

.hd nav {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  z-index: 999;
}
.hd nav .gnb {
  /* border: 1px solid green; */
  display: flex;
  margin: auto;
  justify-content: space-between;
}
nav .gnb > li {
  /* border: 1px solid orange; */
  padding: 0.5rem 3rem;
  margin: 0 1rem;
  position: relative;
}

nav .gnb > li > a {
  /* border: 1px solid green; */
  display: inline-block;
  font-family: "SunBatang-Light";
  font-size: 20px;
}
nav .gnb > li > a:hover {
  color: var(--main-c2);
}
nav .gnb > li:hover .sub {
  height: 200px;
}
.sub {
  border-radius: 10px;
  position: absolute;
  width: 110%;
  height: 0px;
  overflow: hidden;
  top: 100%;
  left: -5%;
  background-color: var(--main-c2);
  transition: 0.2s;
  /* border: 1px solid green; */
}
.sub li {
  /* border: 1px solid orange; */
  padding: 0.5rem;
  text-align: center;
  transition: 0.2s;
}
.sub li:hover {
  background-color: var(--main-c1);
}
.sub > li > a {
  /* border: 1px solid blue; */
  font-size: 15px;
  color: var(--font-c3);
}
nav .ham {
  font-size: 40px;
  display: none;
}
/* header end */

/* sec1 start */
.sec1_title {
  text-align: center;
  padding-top: 2rem;
}
.sec1_title h2 {
  font-family: "SunBatang-Light";
  font-size: 40px;
}
.sec1_title span {
  color: var(--main-c2);
}
.sec1_title > p {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--font-c2);
}

.sec1_subtitle {
  /* border: 1px solid blue; */
}
.sec1_subtitle h3 {
  color: var(--main-c2);
  font-size: 30px;
}
.sec1_subtitle > p {
  font-size: 18px;
}
.sec1_btn {
  display: flex;
  justify-content: flex-end;
}
.sec1_btn button {
  display: block;
  background-color: var(--main-c1);
  border: none;
  color: var(--font-c3);
  width: 150px;
  height: 70px;
  border-radius: 30px 0 30px 0;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.sec1_btn button.on {
  background-color: var(--main-c2);
}
.sec1_slide {
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
}

.sec1_slide article {
  display: none;
  position: relative;
}
.sec1_slide article.on {
  display: block;
}
.sec1_dec {
  text-align: center;
}
.sec1_slide .swiper-wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
}
.sec1_slide .swiper-wrapper li .sec1_img {
  /* border: 1px solid blue; */
  margin-right: 3rem;
}
.sec1_slide .swiper-wrapper li .sec1_dec {
  /* border: 1px solid blue; */
  margin-left: 3rem;
}
.dec1_title .T1 {
  font-size: 20px;
  font-weight: bolder;
}
.dec1_title .T2 {
  /* border: 1px solid red; */
  padding-top: 0.5rem;
}
.dec1_title .T2 span {
  display: block;
  font-size: 14px;
  color: var(--font-c2);
}

.dec1_price {
  /* border: 1px solid blue; */
  padding-top: 1rem;
  text-align: left;
}
.dec1_price .P1 {
  color: var(--main-c2);
  font-size: 18px;
  font-weight: bolder;
}
.dec1_price p,
.dec1_price p > span {
  font-size: 14px;
  color: var(--font-c2);
}

.dec1_material {
  /* border: 1px solid blue; */
  padding-top: 2rem;
}
.dec1_material .dec1_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dec1_material p {
  text-align: left;
  color: var(--main-c2);
  font-size: 18px;
  font-weight: bolder;
}
.dec1_material img {
  /* border: 1px solid blue; */
  padding: 0.5rem 1rem;
}
.dec1_material div > span {
  display: block;
  /* border: 1px solid blue; */
}

/* sec1 end */

/* footer start */
.ft {
  background-color: white;
  margin-top: 100px;
}
.ft_con {
  display: flex;
  justify-content: left;
  align-items: center;
}
.ft_address {
  /* border: 1px solid blue; */
  padding: 2rem 0 1rem 2rem;

  line-height: 2rem;
}
.ft_address .copyright {
  /* border: 1px solid blue; */
  padding-top: 0.5rem;
  font-weight: bold;
}
/* footer end */
.sec2,
.sec3,
.sec4 {
  display: none;
}
